.sg-button--outline{
background-color: black!important;
border-color: black!important;
}
.sg-button--outline:hover{
background-color: #2E2B2B!important;
border-color: #2e2b2b!important;
}
.sg-icon--dark{
fill: white!important;
}
.sg-box--light{
border-color: #c3d1dd!important;
background: white!important;
}
.brn-qpage-next-question-box{
border-color: #C3D1DD!important;
}
.brn-qpage-next-answer-box{
border-color: #c3d1dd!important;
}
.brn-qpage-next-answer-box--expert-verified{
border-color: #60d399!important;
}
.sg-button--solid-inverted{
background-color: white!important;
}
.sg-button--icon-only.sg-button--s{
fill: white!important;
background: black!important;
}
.sg-button--solid-inverted{
background: #fbbe2e!important;
}
.sg-box--light{
background: #fbbe2e!important;
}
.sg-button--outline{
color: white!important;
}
.sg-box--padding-m.sg-box--border{
border-color: #fbbe2e!important;
}
.brn-qpage-next-question-box{
border-color: #2fc3f6!important;
}
.brn-qpage-next-answer-box{
border-color: #2fc3f6!important;
}
.brn-qpage-next-question-activity{
border-color: #2fc3f6!important;
}
.brn-qpage-next-answer-box--expert-verified{
border-color: #60d399!important;
}
.sg-label--mint-secondary-light{
background-color: #60d399!important;
}
.brn-qpage-next-banner{
border-color: #2fc3f6!important;
}
.sg-label__text{
color: white!important;
}
.brn-qpage-next-attachments-viewer{
padding: 2px!important;
}
.sg-text--gray-secondary{
color: #687b8c!important;
}
#calc{
 border: none;
    transition-duration: 150ms;
    position: absolute;
    background: #c3d1dd;
    border-radius: 20px;
    padding:5px;
    width: max-content;
    z-index: 5;
}
input#btn[name = "display"]{
    background: #F5F8FA!important;
    border: 2px solid #C3D1DD;
    font-size: 14px!important;
    outline: none;
    margin-top: 5px;
    padding-left: 10px;
}
input#btn[type = "button"]{
    background: var(--askloadsec);
    border-color: var(--askloadsec);
    border-radius: 26px;
    border: none;
    width: 60px;
    height: 35px;
    margin: 1px;
    font-weight: 600;
    font-size: 14px;
}
input#btn[value = "C"]{
    background: #FF7968;
    color: white;
}
input#btn[value = "n!"], input#btn[value = "sin"], input#btn[value = "cos"], input#btn[value = "tan"], input#btn[value = "E"], input#btn[value = "exp"],input#btn[value = "ln2"],input#btn[value = "l2e"],input#btn[value = "l10e"],input#btn[value = "ln10"], input#btn[value = "log"], input#btn[value = "+"], input#btn[value = "-"], input#btn[value = ","], input#btn[value = "("], input#btn[value = ")"], input#btn[value = "pi"], input#btn[value = "^"], input#btn[value = "sqrt"], input#btn[value = "%"], input#btn[value = "*"], input#btn[value = "/"], input#btn[value = "<-"], input#btn[value = "."]{
    background: #687B8C;
    color: white;
}
input#btn[value = "="]{
    background: #60D399;
}
#calc>tbody>tr>td{
    border-style: hidden;
}
.calc{
    display: flex;
    justify-content: center;
    position: absolute;
    display: flex;
    width: 90px;
    transition-duration: 100ms;
    left: -50%;
    bottom:15%;
}
#showcalc{
    border:none;
    background: transparent;
}
.showcalctoggle{
    left:2%!important;
}
#showcalc>svg{
    fill: #323C45;
    background: transparent;
    height: 25px;
}
