:root{
    --headerfooter : #4fc3f6;
    --ansbut : #FF7968;
    --profilecard : #4fc3f6;
    --askloadsec: #FBBE2E;
}
.apdimg, .filter > img{
    height:50px;
    margin-left:0 !important;
}
.divfilt{
    float: left;
    width: 350px;
    margin-left:10px!important;
    margin: -10px;
    margin-right: -2px!important;
    margin-bottom: 15px!important;
}
p.filter{
    height: 50px;
    border: 2px solid #c3d1dd;
    cursor: pointer;
    border-radius: 16px;
    font-family: "ProximaNova","Helvetica","Arial",sans-serif;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    display: none;
    flex-direction: row-reverse;
    width: 350px;
    transition-duration: 200ms;
    height: 75px;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.gear {
	animation-name: spin;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
}
.apdimg{
    margin-right: 15px;
    height: 40px;
    margin-left: 0px!important;
    border-radius: 50px;
}
.filter > svg {
    transform: translateX(28px) translateY(14px);;
}
.filter{
    flex-wrap: nowrap;
    align-items: center!important;
    justify-content: flex-end!important;
}
.filter:hover{
  background-color: #ebf2f7!important;
    border-color: #ebf2f7!important;
}
#div{
    background-color: lightgrey;
    height: 100px;
    width: 350px;
    display:none;
}
.brn-blocker-box.brn-blocker-box--billboard.js-react-adblock-banner{
    display: none;
}
.notifcenter > #container{
    margin-left:10%;
}
#types{
    float: left;
    padding: 0 36px 0 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25%;
    border: 2px solid #ebf2f7;
    font-size: 16px;
    color: #687b8c;
    height: 40px;
    background: #ebf2f7;
    border-radius: 20px;
    outline: none;
    margin-left: 37% !important;
    margin-top: 5% !important;
}
/*Header and Footer color*/
.HeaderController__innerwrap--1RjnZ, .HeaderController__subnav--1hTF0, .sg-header__container, header[class^="HeaderController"], .mint-header, .brn-header-placeholder__subnav, .brn-header-placeholder__inner-wrapper, .HeaderController__subnavWrapper--1mfz7:after, .HeaderController__subnavWrapper--1WODB:after, .brn-new-footer, .HeaderController__header--3BXr6, .HeaderController__innerwrap--1RjnZ, .HeaderController__limitWidth--2ORAB, .brn-header-placeholder, .brn-header, .brn-footer, .HeaderController__subnav--gvKms, .sg-label--gray-secondary-light, #html .mint .mint-header, #moderation-all .content .loader, .HeaderController__subnav--gvKms.js-ads-top-offset-element, #html .mint .mint-header, #moderate-functions-panel .covering-text, #html .mint #footer{
    background: var(--headerfooter)!important;
    border-color: var(--headerfooter)!important;
}
/*Ask question, load more and secondary buttons*/
.sg-button--solid-blue, .sg-button--solid-light, .sg-button--solid-inverted{
    background: var(--askloadsec)!important;
    color:white;
}
.sg-button--solid-blue:hover, .sg-button--outline:hover, .sg-button--solid-light:hover, #moderate-functions-panel .covering-text:hover{
    filter: brightness(95%);
}
.sg-box--gray-secondary-ultra-light{
background-color: var(--profilecard)!important;
}
.game-box__button:active, .game-box__button:focus, .game-box__button:hover{
background: var(--profilecard)!important;
}
.dropdown > button {
    background-color: var(--askloadsec)!important;
}
.brn-moderation-panel__content {
    background: white!important;
    border-radius:30px;
    width: 230px!important;
}
.brn-placeholder__animation {
    animation-iteration-count: 0;
    background: none;
}
.brn-qpage-next-answer-box {
    border: 2px solid #000000;
}
.sg-box--border-color-gray-secondary-lightest {
    border-color: #C3D1DD!important;
}
#html .mint {
    background: #EDF8FF!important;
}
.sg-label--mint-secondary-light {
    background: #60D399;
}
.sg-label--mustard-secondary-light {
    background: #FEDD8E
}
.sg-menu-list__element {
border-bottom:0px!important 
}
.sg-button--outline{
    background: var(--ansbut)!important;
    border: 0px!important;
    margin-right: 18px;
    color: white;
    fill: white;
}
.brn-progress-tracking__tab--blue{
border-color: #2fc3f6!important;
}
.sg-label__text{
color: white;
}
#moderate-functions-panel .covering-text .text{
top: 160px;
color: white!important;
}
#moderate-functions-panel .covering-text .text.orange{
color: white!important;
}
#moderate-functions-panel .content-scroll {
    background: white;
    border-color: #000000;
    border-radius: 15px!important;
}
#moderate-functions-panel .content-scroll a {
    color: black
}
#moderate-functions-panel .statistics .content-scroll {
    color: black;
border-radius: 20px;
}
#moderation-all .top .sub-header{
border: none
}
select{
border: 1px solid black;
}
#moderate-functions-panel.moderator .icon{
    display: none;
}
select, textarea, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], .uneditable-input{
color: black;
border-radius: 20px;
}
#html .mint .mint-header .mint-input{
border: 2px solid #2fc3f6;
border-radius: 20px;
}
.btn.disabled, .btn[disabled]{
background-color: #687B8C;
}
.flash-messages-container{
margin-top:35px;
}
.btn{
text-shadow: none;
border-radius: 5px;
}
#moderation-all {
border: 1px solid #c3d1dd!important;
border-radius: 20px;
}
#moderation-all .content .loader{
border-radius: 20px;
}
#moderation-all .content .loader > .loadMore{
color: black;
}
#content{
border-radius: 20px!important;
padding-bottom: 0px!important;
}
#html .mint #profile #main-left .personal_info{
border: 2px solid black;
}
.mint-button-secondary--with-icon{
border-color: black;
background:black;
}
.sg-select__element{
border: 2px solid #1a1a1a!important;
color: white!important;
background: #1a1a1a!important;
}
.brn-challenge-confetti__container:after, .brn-challenge-confetti__container:before{
background: none;
}
.sg-button--solid-inverted:hover{
background-color:#ecb127!important;
border-color: #ecb127!important;
}
.mint-button-secondary--with-icon:hover{
background:#2e2b2b!important ;
border-color: #2e2b2b!important;
}
.sg-button--s .sg-button__text{
color: white!important;
}
.brn-feed-item-wrapper{
border-bottom-color: #C3D1DD!important;
}
.brn-challenge-confetti__container:after, .brn-challenge-confetti__container:before, .brn-placeholder__animation{
background: none!important;
}
.sg-box--shadow{
border-radius: 30px!important;
}
.dropdown-content {
  transform: scale(0);
  position: absolute;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
  transition-delay: 250ms;
  transition-duration: 200ms;
  transform-origin: center left;
  margin-left: 277px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: white!important;
}
.dropdown button:hover{
cursor: pointer;
background: rgb(219, 166, 40)!important;
border-color: rgb(219, 166, 40)!important;
}

.dropdown button:hover .dropdown-content {transform: scale(1);}

.report_element:hover{
background: #fbbe2e!important;
height: 100%;
width: 100%;
}
.sg-text--link{
color: black!important;
}
.game-box__progress-item-icon > .sg-icon--mint > svg, .game-box__progress-item-icon > .sg-icon--mustard > svg{
fill: white!important;
}
.sg-text--mint-dark, .sg-text--mustard-dark{
color: white!important;
}
.sg-text--gray{
color: #323c45!important;
}
.sg-actions-list{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;   
}
.sg-button.sg-button--s.sg-button--solid.dropdownmod{
    display: none;
}
.brn-points-on-feed{
 margin-bottom: 0px;
 margin-right: 30px;
}
.sg-menu-list__element strong{
    color: #0089e3!important;
    margin-left:3px;
}
.sg-menu-list--small .sg-menu-list__element {
    height: 2.25rem;
    line-height: 2.25rem;
    font-size: 16px!important;
    padding:3px!important;
    display: flex;
    font-weight: 600;
    justify-content: flex-end;
}
.text-reason{
    -webkit-text-size-adjust: 100%;
    list-style: none;
    box-sizing: border-box;
    overflow: auto;
    margin: unset;
    background: white;
    border: 2px solid #E1EAF1!important;
    border-radius: 20px;
    color: #687B8C;
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding: 6px 16px;
    resize: none;
    overflow-y: auto;
    appearance: none;
    position: relative;
    transition: background 100ms,border 100ms;
    width: 100%;
}
#types{
    margin-left: 40%!important;
    margin-right: 40%;
    margin-bottom: 3%;
}
.selector{width: 100%;}
.sub-1, .sub-22, .sub-36, .sub-37{
    -webkit-text-size-adjust: 100%;
    -webkit-appearance: button;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    overflow: visible;
    width: auto;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    line-height: 14px;
    font-weight: 600;
    text-shadow: none;
    border-width: initial;
    border-style: none;
    border-image: initial;
    border-radius: 26px;
    outline: none;
    padding: 6px 6px;
    color: white !important;
    background: rgb(128, 203, 255) !important;
    border-color: rgb(128, 203, 255) !important;
    font-size: 13px!important;
    margin: 2px;
}
