.sg-button--outline{
background-color: black!important;
border-color: black!important;
}
.sg-button--outline:hover{
background-color: #2E2B2B!important;
border-color: #2e2b2b!important;
}
.brn-blocker-box.brn-blocker-box--billboard.js-react-adblock-banner{
    display: none!important;
}
.sg-icon--dark{
fill: white!important;
}
div.sg-flex.sg-flex--column.brn-answer-editor-layer__attachment-grabber-container > div > div:nth-child(2) > div > div > div > div > button > div > svg{
    fill:black!important;
}
#question-sg-layout-container > div.brn-qpage-layout.js-main-container.js-ads-screening-content > div.brn-qpage-layout__right.js-aside-content > div > div.sg-flex.sg-flex--margin-bottom-m > div > div > div:nth-child(1) > div > div.sg-flex.sg-space-x-xs > div:nth-child(1) > div > div > div > div > div > div > div.sg-flex.sg-flex--margin-right-xxs > div > svg, #question-sg-layout-container > div.brn-qpage-layout.js-main-container.js-ads-screening-content > div.brn-qpage-layout__right.js-aside-content > div > div.sg-flex.sg-flex--margin-bottom-m > div > div > div:nth-child(1) > div > div.sg-flex.sg-flex--wrap.sg-space-y-xxs > ul > li > div > div > div.sg-label__icon > div > svg{
    fill:black!important;
}
#question-sg-layout-container > div.brn-qpage-layout.js-main-container.js-ads-screening-content > div.brn-qpage-layout__right.js-aside-content > div > div.sg-flex.sg-flex--margin-bottom-m > div > div > div:nth-child(1) > div > div.sg-flex.sg-flex--wrap.sg-space-y-xxs > ul > li > div > div > div.sg-text.sg-text--small.sg-text--black.sg-text--bold.sg-label__text, #question-sg-layout-container > div.brn-qpage-layout.js-main-container.js-ads-screening-content > div.brn-qpage-layout__right.js-aside-content > div > div.sg-flex.sg-flex--margin-bottom-m > div > div > div:nth-child(1) > div > div.sg-flex.sg-flex--align-items-center > div.sg-space-y-xs > div > div > div > div > div > div > div{
    color: black!important;
}
.brn-qpage-next-attachments-viewer-image-preview{
    height: max-content!important;
}
button[date-testid = "ask_question_btn"] > span > div > svg{
    fill: white!important;
}
.sg-box--light{
border-color: #c3d1dd!important;
background: white!important;
}
.brn-qpage-next-question-box{
border-color: #C3D1DD!important;
}
.brn-qpage-next-answer-box{
border-color: #c3d1dd!important;
}
.sg-button.sg-button--s.sg-button--transparent > span.sg-button__text{
    color: black!important;
}
.brn-qpage-next-answer-box--expert-verified{
border-color: #60d399!important;
}
.sg-button--solid-inverted{
background-color: white!important;
}
.sg-button--icon-only.sg-button--s{
fill: white!important;
background: black!important;
}
.sg-button--solid-inverted{
background: #fbbe2e!important;
}
.sg-box--light{
background: #fbbe2e!important;
}
.sg-button--outline{
color: white!important;
}
.sg-box.sg-box--light.sg-box--padding-m.sg-box--border-color-gray-secondary-lightest.sg-box--border, .sg-icon.sg-icon--mustard.sg-icon--x16{
border-color: #fbbe2e!important;
}
.brn-qpage-next-answer-box--expert-verified{
border-color: #60d399!important;
}
.sg-icon.sg-icon--mustard.sg-icon--x16{
    fill: #fbbe2e!important;
}
.sg-label--mint-secondary-light{
background-color: #60d399!important;
}
.brn-qpage-next-banner{
border-color: #2fc3f6!important;
}
.sg-label__text{
color: white!important;
}
.brn-qpage-next-attachments-viewer{
padding: 2px!important;
}
.sg-text--gray-secondary{
color: #687b8c!important;
}
/*calculator*/
#calc{
 border: none;
    transition-duration: 150ms;
    position: absolute;
    background: #c3d1dd;
    border-radius: 20px;
    padding:5px;
    width: max-content;
    z-index: 5;
}
input#btn[name = "display"]{
    background: #F5F8FA!important;
    border: 2px solid #C3D1DD;
    font-size: 14px!important;
    outline: none;
    margin-top: 5px;
    padding-left: 10px;
}
input#btn[type = "button"]{
    background: var(--askloadsec);
    border-color: var(--askloadsec);
    border-radius: 26px;
    border: none;
    width: 60px;
    height: 35px;
    margin: 1px;
    font-weight: 600;
    font-size: 14px;
}
input#btn[value = "C"]{
    background: #FF7968;
}
#calc>tbody>tr>td{
    border-style: hidden;
}
.calc{
    display: flex;
    justify-content: center;
    position: absolute;
    display: flex;
    width: 90px;
    transition-duration: 100ms;
    left: -50%;
    bottom:15%;
}
#showcalc{
    border:none;
    background: transparent;
}
.showcalctoggle{
    left:2%!important;
}
#showcalc>svg{
    fill: #323C45;
    background: transparent;
    height: 25px;
}
