.sg-box--light {
    background: white!important;
}
.sg-box--border {
    border-color: black!important;
}
div [class^="brn-header-placeholder__subnav"]{
background:#fbbe2e!important;
}
div [class^="brn-header-placeholder__inner-wrapper"]{
background: #fbbe2e!important;
}
.brn-new-footer{
background:#fbbe2e!important;
}
.sg-button--solid-blue:hover{
background: #FF7968!important;
}
.brn-header-placeholder__subnav-wrapper:after{
background: #fbbe2e!important;
}
.brn-data-table__row{
border-top: 1px solid #fbbe2e!important;
    background: transparent!important;
}
.brn-footer{
background: #fbbe2e!important;
}
.brn-header-placeholder__children-wrapper{
display: none!important;
}
.brn-header-placeholder__subnav-texts{
display: none!important;
}
.brn-header-placeholder__search-form{
margin-left: 150px!important;
}
.brn-header-placeholder{
background: #fbbe2e!important;
}
.sg-text--bold{
color: #fbbe2e!important;
}
.sg-box--blue, .sg-button--solid-blue, .mint-tabs__tab--active, #html .mint .mint-header, #html .mint #tabs-doj #main_menu>li.active, #html .mint #footer{
background: #fbbe2e!important;
}